body{
	background-color: black;
}

#start{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
}
#start > .plate{
	position: absolute;
	background-color: #3BBAB3;
	width: 150%;
	height: 80%;
	top: 50%;
	transform: translate(-15%,-50%) rotate(-5deg);
	text-align: center;
	z-index: 1;
}
#start > .plate > span.start{
	font-family: 'Anton', sans-serif;
    font-size: 80px;
    position: absolute;
    top: 50%;
    left: 50%;
	color: #113E37;
    transform: translate(-50%,-50%);
    text-transform: uppercase;
    z-index: 1;
}
#start > .plate > span.start:hover{
	cursor: pointer;
	color: rgba(17, 62, 55, 0.7);
}
#start > .plate > span.by{
	padding-bottom: 100px;
	font-family: 'Nunito', sans-serif;
    font-size: 14px;
    position: absolute;
    top: 80%;
    left: 50%;
    color: rgb(244, 255, 169);
    transform: translate(-50%,-50%);
    z-index: 0;
}
#start > .piano{
	position: absolute;
    width: 100%;
    display: flex;
    z-index: 0;
}
#start > .piano.inverse{
	transform: rotate(180deg);
	bottom: 0;
	z-index: 0;
}
#start > .piano > .gamme{
	display: flex;
}
#start > .piano > .gamme > .white{
	position: relative;
    height: 200px;
    width: 40px;
    background-color: rgb(244, 255, 169);
    margin-left: 1px;
    margin-right: 1px;

}
#start > .piano > .gamme > .black{
	width: 20px;
    height: 100px;
    background-color: #44453F;
    position: relative;
    margin-left: -10px;
    margin-right: -10px;
    z-index: 1;
}
#start > video{
	width: 100%;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	z-index: -1;
}

#title{
	display: none;
	position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    background-color: rgba(0,0,0,0.5);
    overflow: hidden;
}
#title > span{
	color: white;
	font-family: 'Anton', sans-serif;
	font-size: 80px;
	position: absolute;
    top: 50%;
	transform: translate(-50%,-50%);
	white-space: nowrap; 
}

#start > .play-piano{
	left: 50%;
    transform: translateX(-50%);
    top: 50%;
	position: absolute;
    display: flex;
    z-index: 0;
}
#start > .play-piano > .gamme{
	display: flex;
}
#start > .play-piano > .gamme > .white{
	position: relative;
    height: 200px;
    width: 40px;
    background-color: rgb(244, 255, 169);
    margin-left: 1px;
    margin-right: 1px;
    text-align: center;
    line-height: 350px;
    font-weight: bold;
    font-size: 25px;
    cursor: pointer;

}
#start > .play-piano > .gamme > .white.selected{
	background-color: #FBFFE1;
}
#start > .play-piano > .gamme > .black{
	width: 20px;
    height: 100px;
    background-color: #44453F;
    position: relative;
    margin-left: -10px;
    margin-right: -10px;
    z-index: 1;
    text-align: center;
    color: white;
    line-height: 150px;
    font-size: 12px;
    cursor: pointer;
}
#start > .play-piano > .gamme > .black.selected{
	background-color: #70706b;
}
#start > .translate-title {
	position: absolute;
    width: 100%;
    height: 200%;
    top: 100%;
}
#start > .translate-title > .wrong{
	font-family: 'Anton', sans-serif;
	color: white;
    text-transform: uppercase;
    font-size: 500px;
    position: absolute;
    top: -154px;
    left: 50%;
    transform: translate(-50%);
}
#start > .translate-title > .background-title{
	position: absolute;
	width: 100%;
	height: 100%;
	top: 434px;
	background-color: rgba(0,0,0,0.5);
}
#start > .title{
	font-family: 'Anton', sans-serif;
	position: absolute;
    z-index: 5;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    font-size: 120px;
	color: white;
    white-space: nowrap;
}
#start > .title > span{
	display: none;
}
.hero-bg.neon-hero .title {
	position: absolute;
	top: 57%;
	left: 50%;
  	cursor:pointer;
    color: rgba(255, 255, 255, 0);
    text-shadow: 0em 0em 3em #F44336,
                 0em 0em 2em #F44336,
                 1px 1px 5px #F44336,
                 0px 0px 15px #F44336,
                 1px 0px 0px white,
                -1px 0px 2px rgba(0, 0, 0, .5);
    z-index: 5;
}
.hero-bg.neon-hero .title.on {
    color: #F44336;
    text-shadow: 0em 0em 5em #F44336,
                 0em 0em 3em #F44336,
                 0em 0em 2em #F44336,
                 1px 1px 5px #F44336,
                 0px 0px 10px #F44336,
                 0px 0px 25px #F44336,
                 0px 0px 45px #F44336,
                 2px 1px 0px white,
                -1px 0px 2px rgba(0, 0, 0, .5);
}

.hero-bg .title {
    font-size: 60px;
    letter-spacing: 0px;
    color: #ffffff;
    display: none;
}
.hero-bg {
    font-family: Source Sans Pro, Arial, sans-serif;
    overflow: hidden;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}
.hero-bg .title {
    color: hsla(0, 0%, 100%, .8);
    font-weight: 300;
}







#test{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: wheat;
	z-index: 2;
	overflow: hidden;
}




















