html{
	overflow: hidden;
}

body{
	background-color: black;
}

#start{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
}
#start > .plate{
	position: absolute;
	background-color: #3BBAB3;
	width: 150%;
	height: 80%;
	top: 50%;
	transform: translate(-15%,-50%) rotate(-5deg);
	text-align: center;
	z-index: 1;
}
#start > .plate > span.start{
	font-family: 'Anton', sans-serif;
    font-size: 80px;
    position: absolute;
    top: 50%;
    left: 50%;
	color: #113E37;
    transform: translate(-50%,-50%);
    text-transform: uppercase;
    z-index: 1;
}
#start > .plate > span.start:hover{
	cursor: pointer;
	color: rgba(17, 62, 55, 0.7);
}
#start > .plate > span.by{
	padding-bottom: 100px;
	font-family: 'Nunito', sans-serif;
    font-size: 14px;
    position: absolute;
    top: 80%;
    left: 50%;
    color: rgb(244, 255, 169);
    transform: translate(-50%,-50%);
    z-index: 0;
}
#start > .piano{
	position: absolute;
    width: 100%;
    display: flex;
    z-index: 0;
}
#start > .piano.inverse{
	transform: rotate(180deg);
	bottom: 0;
	z-index: 0;
}
#start > .piano > .gamme{
	display: flex;
}
#start > .piano > .gamme > .white{
	position: relative;
    height: 200px;
    width: 40px;
    background-color: rgb(244, 255, 169);
    margin-left: 1px;
    margin-right: 1px;

}
#start > .piano > .gamme > .black{
	width: 20px;
    height: 100px;
    background-color: #44453F;
    position: relative;
    margin-left: -10px;
    margin-right: -10px;
    z-index: 1;
}
#start > video{
	width: 100%;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	z-index: -1;
}

#title{
	display: none;
	position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    background-color: rgba(0,0,0,0.5);
    overflow: hidden;
}
#title > span{
	color: white;
	font-family: 'Anton', sans-serif;
	font-size: 80px;
	position: absolute;
    top: 50%;
	transform: translate(-50%,-50%);
	white-space: nowrap;
}

#start > .translate-title {
	position: absolute;
    width: 100%;
    height: 200%;
    top: 100%;
}
#start > .translate-title > .wrong{
	font-family: 'Anton', sans-serif;
	color: white;
    text-transform: uppercase;
    font-size: 500px;
    position: absolute;
    top: -154px;
    left: 50%;
    transform: translate(-50%);
}
#start > .translate-title > .background-title{
	position: absolute;
	width: 100%;
	height: 100%;
	top: 434px;
	background-color: rgba(0,0,0,0.5);
}
#start > .title{
	font-family: 'Anton', sans-serif;
	position: absolute;
    z-index: 5;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    font-size: 120px;
	color: white;
    white-space: nowrap;
}
#start > .title > span{
	display: none;
}
.hero-bg.neon-hero .title {
	position: absolute;
	top: 57%;
	left: 50%;
  	cursor:pointer;
    color: rgba(255, 255, 255, 0);
    text-shadow: 0em 0em 3em #F44336,
                 0em 0em 2em #F44336,
                 1px 1px 5px #F44336,
                 0px 0px 15px #F44336,
                 1px 0px 0px white,
                -1px 0px 2px rgba(0, 0, 0, .5);
    z-index: 5;
}
.hero-bg.neon-hero .title.on {
    color: #F44336;
    text-shadow: 0em 0em 5em #F44336,
                 0em 0em 3em #F44336,
                 0em 0em 2em #F44336,
                 1px 1px 5px #F44336,
                 0px 0px 10px #F44336,
                 0px 0px 25px #F44336,
                 0px 0px 45px #F44336,
                 2px 1px 0px white,
                -1px 0px 2px rgba(0, 0, 0, .5);
}

.hero-bg .title {
    font-size: 60px;
    letter-spacing: 0px;
    color: #ffffff;
    display: none;
}
.hero-bg {
    font-family: Source Sans Pro, Arial, sans-serif;
    overflow: hidden;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}
.hero-bg .title {
    color: hsla(0, 0%, 100%, .8);
    font-weight: 300;
}

#bar{
	position: absolute;
	z-index: -2;
	display: none;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-image: url('../media/img/bar.jpg');
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	transform: translateY(-100%);
	transition-duration: 5s;
}

#history{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -5;
}

#history > #history-picture{
    position: absolute;
    margin-left: auto;
    top: 0;
    left: 0;
    width: 80%;
    height: 30%;
    margin-top: 10%;
    margin-left: auto;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

#history > #history-content{
    position: absolute;
    top: 50%;
    left: 0;
    color: white;
    width: 80%;
    height: 40%;
    margin-bottom: 10%;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    font-family: Source Sans Pro, Arial, sans-serif;
}

.backgroundBlack50{
    background-color: rgba(0, 0, 0, .5);
}

#arrow-prec{
	position: absolute;
  top: 0;
  left: 0;
  width: 5%;
  height: 100%;
	display: none;
}
#arrow-prec:hover{
	cursor: pointer;
}
#arrow-prec > img{
	margin-top: 50vh; /* poussé de la moitié de hauteur de viewport */
  transform: translateY(-50%)rotate(90deg);
	width: 100%;
}

#arrow-next{
	position: absolute;
  top: 0;
  right: 0;
  width: 5%;
  height: 100%;
	display: none;
}
#arrow-next:hover{
	cursor: pointer;
}
#arrow-next > img{
	margin-top: 50vh; /* poussé de la moitié de hauteur de viewport */
  transform: translateY(-50%)rotate(-90deg);
	width: 100%;
}

.rotate90 {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
}

.rotate-90 {
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    transform: rotate(-90deg);
}

#bottom-menu{
	z-index: 15;
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	bottom: 4px;
	height: 50px;
}
#bottom-menu > div > img {
	max-width: 30px;
	max-height: 30px;
	margin-left: 5px;
	margin-right: 5px;
}
#bottom-menu > div {
	display: inline-block;
	padding: 10px;
	margin-top: 50px;
}
#bottom-menu > div:hover{
	cursor: pointer;
	padding-bottom: 7px;
	border-bottom: solid 3px #ebce28;
}

#close-history{
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	bottom: 100px;
	height: 50px;
}
#close-history:hover{
	cursor: pointer;
}
#close-history > img{
	height: 100%;
}

#play-piano-contain{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -5;
}

#close-piano{
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	bottom: 100px;
	height: 50px;
}
#close-piano:hover{
	cursor: pointer;
}
#close-piano > img{
	height: 100%;
}

.play-piano{
	left: 50%;
	transform: translateX(-50%);
	top: 50%;
	position: absolute;
	display: flex;
	z-index: 0;
}
.play-piano > .gamme{
	display: flex;
}
.play-piano > .gamme > .white{
	position: relative;
    height: 200px;
    width: 40px;
    background-color: white;
    margin-left: 1px;
    margin-right: 1px;
    text-align: center;
    line-height: 350px;
    font-weight: bold;
    font-size: 25px;
    cursor: pointer;

}
.play-piano > .gamme > .white.selected{
	background-color: #c9c280;
}
.play-piano > .gamme > .black{
	width: 20px;
    height: 100px;
    background-color: #44453F;
    position: relative;
    margin-left: -10px;
    margin-right: -10px;
    z-index: 1;
    text-align: center;
    color: white;
    line-height: 150px;
    font-size: 12px;
    cursor: pointer;
}
.play-piano > .gamme > .black.selected{
	background-color: #70706b;
}

#measure{
	position: absolute;
	top: 15%;
	left: 0%;
	height: auto;
	width: 100%;
}
#measure > div{
	border-top: solid 2px white;
	margin-top: 30px;
}
#measure-action{
	position: absolute;
	top: 15%;
	left: 50%;
	transform: translateX(-50%);
	height: 250px;
	width: 700px;
	border-left: solid 5px white;
	border-right: solid 5px white;
	overflow-x: hidden;
}

.noteMeasure{
	position: absolute;
  right: -28px;
  width: 28px;
  height: 28px;
  border-radius: 50px;
  background: #ebce28;
}
.noteMeasure::after{
	content: "";
	position: absolute;
	right: 0;
	bottom: 14px;
	width: 5px;
	height: 62px;
	background: #ebce28;
}
.barMeasure::before{
	content: "";
	position: absolute;
	bottom: 14px;
	width: 50px;
	height: 2px;
	background: #ebce28;
	left: 50%;
	transform: translateX(-50%);
}

#jukebox{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -5;
}
#juke-year{
	position: absolute;
	top: 10%;
	left: 10%;
	height: 10%;
	font-size: 80px;
	font-family: 'Anton', sans-serif;
	color: white;
}
#juke-title{
	position: absolute;
	top: 25%;
	left: 10%;
	height: 10%;
	font-size: 30px;
	font-family: 'Anton', sans-serif;
	color: white;
}
#juke-play{
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	top: 28%;
	height: 10%;
}
#juke-play:hover{
	cursor: pointer;
}
#juke-play > img{
	height: -webkit-fill-available;
}
#juke-pause{
	display: none;
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	top: 28%;
	height: 10%;
}
#juke-pause:hover{
	cursor: pointer;
}
#juke-pause > img{
	height: -webkit-fill-available;
}
#juke-content{
	position: absolute;
  top: 40%;
  left: 10%;
  width: 80%;
  color: white;
	font-family: 'Nunito', sans-serif;
}

#close-juke{
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	bottom: 100px;
	height: 50px;
}
#close-juke:hover{
	cursor: pointer;
}
#close-juke > img{
	height: 100%;
}
#arrow-juke-prec{
	position: absolute;
  top: 0;
  left: 0;
  width: 5%;
  height: 100%;
	display: none;
}
#arrow-juke-prec:hover{
	cursor: pointer;
}
#arrow-juke-prec > img{
	margin-top: 50vh; /* poussé de la moitié de hauteur de viewport */
  transform: translateY(-50%)rotate(90deg);
	width: 100%;
}

#arrow-juke-next{
	position: absolute;
  top: 0;
  right: 0;
  width: 5%;
  height: 100%;
	display: none;
}
#arrow-juke-next:hover{
	cursor: pointer;
}
#arrow-juke-next > img{
	margin-top: 50vh; /* poussé de la moitié de hauteur de viewport */
  transform: translateY(-50%)rotate(-90deg);
	width: 100%;
}


#test{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: wheat;
	z-index: 2;
	overflow: hidden;
}
